<div class="row-fluid form-override">	
  <div class="span6 offset3">
  	<h1>Sign In</h2>
  	<hr>

    <p>Don't have a Mountain Metics account yet? <a href="/users/new">Sign up here!</a>
    </p>

    <fieldset>
    <%= form_tag '/sessions' do %>
      <div class="field">
      	<%= text_field_tag :email, nil, :placeholder => "Email"  %>
      </div>
      <div class="field">
      	<%= password_field_tag :password, nil, :placeholder => "password" %>
      </div>
    </br>
      <button type="submit" class="btn btn-large btn-flat">Sign In</button>
    <% end %>
    </fieldset>
  </div>
</div>