<!-- Sign Up Page -->
<div class="container">
<div class="row-fluid form-override">	
	<!-- Start How It Works -->
  <div class="row-fluid">
    
  		<div class="span6 feature"> 
      <%= image_tag "join mountain.png", :class => "img-circle" %>
      <h2>Sign Up</h2>

      <%= image_tag "link accounts mountain.png", :class => "img-circle" %>
      <h2>Link Accounts</h2>

      <%= image_tag "demo mountain.png", :class => "img-circle" %>
      <h2>Fancy Graphs</h2>
   	</div>

  </div>
</div>    
<!-- End How It Works -->



	<div class="span6">
	<%= render 'form' %>	
</div>
</div>



