<div class="span6">

  <table summary="Navigation Summary" class="table table-striped">
    <h2>Navigation Summary</h2>
    <tr>
      <th>Page Title</th>
      <th>Pageviews</th>
    </tr>

    <tr>
      <td>Exits</td>
      <td>90%</td>
    </tr>
    <tr>
      <td><a href="http://chicagohistorymuseum.tumblr.com/post/37342304400/a-girl-eating-a-sandwich-at-camp-goodwill-1905">A girl eating a sandwich at Camp Goodwill</a></td>
      <td>3.5%</td>
    </tr>
    <tr>
      <td><a href="http://chicagohistorymuseum.tumblr.com/post/36746260399/al-capone-in-court-1931-chicago-illinois">Al Capone, 1931</a></td>
      <td>2.5%</td>
    </tr>
    <tr>
      <td><a href="http://chicagohistorymuseum.tumblr.com/post/37121288478/man-tossing-a-child-into-the-air-at-57th-street">Man tossing a child into the air</a></td>
      <td>2.2%</td>
    </tr>
    <tr>
      <td><a href="http://chicagohistorymuseum.tumblr.com/post/36374981955/christmas-shoppers-flood-the-sidewalks-of-the-loop">Christmas shoppers</a></td>
      <td>1.8%</td>
    </tr>
    </table>
</div>