<h2>Snapshot <small>Data for the last 30 days.</small></h2>

<div class="row-fluid"> 
  <div class="bignums">
    <ul>
      <div class="span3">
        <li>
         5,504
        <%= image_tag "uparrow.svg",'data-original-title' => "+37.03%", :class => "arrows" %>
        <p>Views<p>
      </li>
      </div>

      <div class="span3">
        <li>
        4,987
        <%= image_tag "uparrow.svg",'data-original-title' => "+28.83%", :class => "arrows" %>        
        <p>Visitors<p>
      </li>
      </div>

      <div class="span3">
        <li>
        01:21
        <%= image_tag "uparrow.svg",'data-original-title' => "+6.22%", :class => "arrows" %>
        <p>Avg Time on Site<p>
      </li>
      </div>

      <div class="span3">
        <li>
        11.82%
        <%= image_tag "uparrow.svg",'data-original-title' => "+3.95%", :class => "arrows" %>
        <p>From Mobile<p>
      </li>
    </div>
  </div>
  </ul>
</div>
