 <div class="span6">

  <table summary="Your Websites Top Content" class="table table-striped table-override">
  <h2>Popular Content</h2>
    <tr>
      <th>Title</th>
      <th>Views</th>
    </tr>
      <tr>
        <!-- Will not work for https:// look at google api for possible solution -->
        <td><a href="#">Home Page</a></td>
        <td>5323</td>
      </tr>
  </table>
</div>