<div class="span6">
  <table summary="Top Keywords" class="table table-striped">  
    <h2>Top Keywords</h2>  
    <tr>  
      <th>Keywords</th>  
      <th>Visits</th>    
    </tr> 
    <tr>  
      <td>chicago pictures</td>  
      <td>912</td>   
    </tr>
    <tr>  
      <td>old pictures chicago</td>  
      <td>812</td>   
    </tr>
    <tr>  
      <td>chicago 1920's</td>  
      <td>612</td>   
    </tr>
    <tr>  
      <td>chicago 50 years ago pictures</td>  
      <td>312</td>   
    </tr>
    <tr>  
      <td>pictures downtown chicago</td>  
      <td>212</td>   
    </tr>
  </table>
</div>

