 <div class="span6">

  <table summary="Your Websites Top Content" class="table table-striped table-override">
  <h2>Popular Content</h2>
    <tr>
      <th>Title</th>
      <th>Views</th>
    </tr>
    <tr>
      <td><a href="#">Home Page</a></td>
      <td>5323</td>
    </tr>
    <tr>
      <td><a href="#">A girl eating a sandwich at Camp Goodwill</a></td>
      <td>3367</td>
    </tr>
    <tr>
      <td><a href="#">Al Capone, 1931</a></td>
      <td>3365</td>
    </tr>
    <tr>
      <td><a href="#">Man tossing a child into the air</a></td>
      <td>2264</td>
    </tr>
    <tr>
      <td><a href="#">Christmas shoppers</a></td>
      <td>2231</td>
    </tr>
    <tr>
      <td><a href="#">Legionnaires at the repeal of Prohibition</a></td>
      <td>1722</td>
    </tr>
    <tr>
      <td><a href="#">Chicken Charlie</a></td>
      <td>1222</td>
    </tr> 
    <tr>
      <td><a href="#">William Hale Thompson, mayor of Chicago</a></td>
      <td>1156</td>
    </tr>
    <tr>
      <td><a href="#">State Stree during Christmas</a></td>
      <td>1156</td>
    </tr>
    <tr>
      <td><a href="#">Football team, North Division High School</a></td>
      <td>2156</td>
    </tr>                    
  </table>
</div>

