<div class="span6">
  <table summary="Traffic Sources for Your Website" class="table table-striped">  
    <h2>Traffic Sources</h2>  
    <tr>  
      <th>Source</th>  
      <th>Visitors</th>    
    </tr> 
    <tr>  
      <td>Google</td>  
      <td>5210</td>   
    </tr>
    <tr>  
      <td>Facebook</td>  
      <td>2531</td>   
    </tr>
    <tr>  
      <td>Bing</td>  
      <td>2299</td>   
    </tr>
    <tr>  
      <td>Yahoo</td>  
      <td>1568</td>   
    </tr>
    <tr>  
      <td>Reddit</td>  
      <td>1521</td>   
    </tr>
    <tr>  
      <td>www.chicagopictures.com</td>  
      <td>1411</td>   
    </tr>
    <tr>  
      <td>Flickr</td>  
      <td>1300</td>   
    </tr>
    <tr>  
      <td>www.chicago.org</td>  
      <td>1211</td>   
    </tr>
    <tr>  
      <td>www.chicagouncommon.com</td>  
      <td>1129</td>   
    </tr>   
    <tr>  
      <td>Twitter</td>  
      <td>1009</td>   
    </tr>   
  </table>
</div>