<div class="hero-unit container">
	<h1>About Mountain</h1>
	<p>We set out to build a tool to help web agencies iterate, and we ended up with one that tracks cat pictures across tumblr.
</p>
</div>


<div class="container marketing">
	<div class="row pagination-centered">

		<h2>The Team</h2>

		<div class="about span4">
			<img src="http://www.codemountain.com/media/BAhbBlsHOgZmSSIxMjAxMi8xMC8wNi8xNi80MC81OC82MzEvZW5yaXF1ZV9nb256YWxlei5qcGcGOgZFVA/enrique-gonzalez.jpg?sha=9d46cc7c" class="img-circle">
			<h2>Enrique Gonzalez</h2>
			<h2><small>Ruby on Rails and UX</small></h2>
			<p>See how traffic, reblogs and more change. Hover over arrows to see percentage differences.</p>
			<a href="https://twitter.com/enriquegonzalez">@enriquegonzalez</a>
		</div>
		<div class="about span4">
			<img src="https://twimg0-a.akamaihd.net/profile_images/2718589957/fc0ff8457f90ad69caca7365a67e381b.jpeg"class="img-circle">
			<h2>Nick Hould</h2>
			<h2><small>Lead Developer</small></h2>
			<p>Mountain drills down and shows you how individual posts stack up against one another.</p>
		</div>
		<div class="about span4">
			<img src="https://twimg0-a.akamaihd.net/profile_images/2750828989/32d90a967022ccde68ba1355f4603d9a.png" class="img-circle">
			<h2>Sam Solomon</h2>
			<h2><small>Lead Designer</small></h2>
			<p>Mountain pulls information from Tumblr, and Analytics to give  the most accurate information about your site.</p>
		</div>
	</div>
	

	<div class="row pagination-centered">
		<div class="about offset2 span4">
			<img src="http://www.codemountain.com/media/BAhbBlsHOgZmSSItMjAxMi8xMC8wNi8xOS8zOS8yMS8yMTcvdmFpYmhhdl9wdXJpLmpwZwY6BkVU/vaibhav-puri.jpg?sha=c693e268" class="img-circle">
			<h2>Vaibhav Puri</h2>
			<h2><small>jQuery Expert</small></h2>
			<p>See how traffic, reblogs and more change. Hover over arrows to see percentage differences.</p>
		</div>
		<div class="about span4">
			<img src="http://tslcms.herokuapp.com/assets/seth-epstein-9fbe7114f97eb2364608a9ed88e3ac85.jpg" class="img-circle">
			<h2>Seth Epstein</h2>
			<h2><small>Front-End Developer</small></h2>
			<p>Mountain drills down and shows you how individual posts stack up against one another.</p>
		</div>	
	</div>
</div>

<!-- Start Divider -->
<div class="mtn">
	<div class="blue-bg">
		<div class="row">
			<h2>Data Explained</h2>
				<p>Mountain pulls information from Tumblr, and Analytics to give  the most accurate information about your site.</p>
		</div>
	</div>
</div>