<div class="hero-unit container-fluid">
	<h1>About Mountain</h1>
	<p>Mountain is an analytics platform for Tumblr. </p><br>


	<div class="row-fluid about">
			<h2>Track Variations</h2>
			<p>We set out to build a tool for web agencies, and we ended up with one that tracks cat pictures across Tumblr.</p>
	</div>
	<div class="row">
			<%= image_tag "mountaindetailthunderbolt.png" %>
	</div>
</div>

<!-- Start Bios -->
<div class="container marketing">
	<div class="row-fluid about">

		<h1>The Mountaineers</h1>
		<hr>

		<div class="span4">
			<img src="http://www.codemountain.com/media/BAhbBlsHOgZmSSIxMjAxMi8xMC8wNi8xNi80MC81OC82MzEvZW5yaXF1ZV9nb256YWxlei5qcGcGOgZFVA/enrique-gonzalez.jpg?sha=9d46cc7c" class="img-circle">
			<h2>Enrique Gonzalez</h2>
			<h2><small>Ruby on Rails and UX</small></h2>
			<p>I ask a lot of questions, poke my nose into APIs, and saved Latin.</p>
			<a href="https://twitter.com/enriquegonzalez">@EnriqueGonzalez</a>
		</div>
		<div class="span4">
			<img src="https://twimg0-a.akamaihd.net/profile_images/2718589957/fc0ff8457f90ad69caca7365a67e381b.jpeg"class="img-circle">
			<h2>Nick Hould</h2>
			<h2><small>Lead Developer</small></h2>
			<p>Bearded coder. I love beer, coffee, and spending time infront of my computer.</p>
			<a href="https://twitter.com/NicholasHould">@NicholasHould</a>
		</div>
		<div class="span4">
			<img src="https://twimg0-a.akamaihd.net/profile_images/2750828989/32d90a967022ccde68ba1355f4603d9a.png" class="img-circle">
			<h2>Sam Solomon</h2>
			<h2><small>Lead Designer</small></h2>
			<p>Modern Renaissance man. I'm a master wordsmith, moderate coffee drinker, and minimalist designer.</p>
			<a href="https://twitter.com/SamuelRSolomon">@SamuelRSolomon</a>
		</div>
	</div>
	

	<!-- <div class="row-fluid about">
		<div class="span4">
			<img src="http://www.codemountain.com/media/BAhbBlsHOgZmSSItMjAxMi8xMC8wNi8xOS8zOS8yMS8yMTcvdmFpYmhhdl9wdXJpLmpwZwY6BkVU/vaibhav-puri.jpg?sha=c693e268" class="img-circle">
			<h2>Vaibhav Puri</h2>
			<h2><small>jQuery</small></h2>
			<p>See how traffic, reblogs and more change. Hover over arrows to see percentage differences.</p>
			<a href="https://twitter.com/vaibpuri">@VaibPuri</a>
		</div>
		<div class="span4">
			<img src="http://tslcms.herokuapp.com/assets/seth-epstein-9fbe7114f97eb2364608a9ed88e3ac85.jpg" class="img-circle">
			<h2>Seth Epstein</h2>
			<h2><small>Front-End</small></h2>
			<p>Mountain drills down and shows you how individual posts stack up against one another.</p>
			<a href="https://twitter.com/enriquegonzalez">@enriquegonzalez</a>
		</div>	
	</div> -->
</div> 
<!-- End Bios -->


