<div class="container">
	<div class="hero-unit">
		<h1>Easy Client<br>Dashboards</h1>
	</div>
</div>

<div class="container features">
	<div class="row">
		<div class="span4">
			feature 1
		</div>
		<div class="span4">
			feature 2
		</div>
		<div class="span4">
			feature 3
		</div>
	</div>

	<hr class="featurette-divider">

	<h2 class="featurette-heading">Featurette Header 1</h2>

	<hr class="featurette-divider">

	<h2 class="featurette-heading">Featurette Header 2</h2>

	<hr class="featurette-divider">

	<h2 class="featurette-heading">Featurette Header 3</h2>
	</div>

</div>

