<div class="container">
	<div class="hero-unit">
		<h1>Tumblr Analytics.</h1>
		<p>Know what happens on your tumblog, whether you're blogging or sharing cat pictures.</p>
	</div>
</div>

<div class="container marketing">
	<div class="row">
		<div class="span4">
			<%= image_tag 'binoculars.svg', :width => 150 %>
			<h2>Overview</h2>
			<p>Dashboardly pulls information from Tumblr, and Analytics to give  the most accurate information about your Tumblr.</p>
		</div>
		<div class="span4">
			<%= image_tag 'dig.svg', :width => 150 %>
			<h2>Dig Deep</h2>
			<p>Drill down and see how individual</p>
		</div>
		<div class="span4">
			<%= image_tag 'dig.svg', :width => 150 %>
			<h2>Data Explained</h2>
			<p>Dashboardly pulls information from Tumblr, and Analytics to give  the most accurate information about your site.</p>
		</div>
	</div>

	<hr class="featurette-divider">

	<h2 class="featurette-heading">Featurette Header 1</h2>

	<hr class="featurette-divider">

	<h2 class="featurette-heading">Featurette Header 2</h2>

	<hr class="featurette-divider">

	<h2 class="featurette-heading">Featurette Header 3</h2>
	</div>
</div>

