<div class="container">
	<div class="hero-unit">
		<h1>Dashboard.ly</h1>
		<p>Sign up for Dashboardly to easily gain insights into your blog, and learn about your readers.</p>
	</div>
</div>

<div class="container marketing">
	<div class="row">
		<div class="span4">
			<%= image_tag 'binoculars.svg', :width => 150 %>
			<h2>Overview</h2>
			<p>Dashboardly pulls information from Tumblr, and Analytics to give  the most accurate information about your Tumblr.</p>
		</div>
		<div class="span4">
			<%= image_tag 'dig.svg', :width => 150 %>
			<h2>Dig Deep</h2>
			<p>Drill down and see how individual posts stack up against one another.</p>
		</div>
		<div class="span4">
			<%= image_tag 'dig.svg', :width => 150 %>
			<h2>Data Explained</h2>
			<p>Dashboardly pulls information from Tumblr, and Analytics to give  the most accurate information about your site.</p>
		</div>
	</div>
</div>

