<div class="hero-unit container-fluid">
	<h1>Tumblr Stats</h1>
	<p>Mountain is the only way to see metrics for your Tumblr account. Whether you're managing a major brand, composing beautiful long-form, or sharing cat pictures, Mountain shows you how people interact with your content.</p>

	<% unless current_user? %>
		<div class="row-fluid">
			<a href="users/new" class="btn btn-danger btn-flat signup">Sign Up</a>
		</div>
	<% end %>
	<%= image_tag "mountain devices.png", :width => 800 %>

</div>


<!-- Start Features -->
<div class="container-fluid marketing">
	<div class="row-fluid">
		<div class="span4">
			<%= image_tag 'track.svg', :width => 200 %>
			<h2>Track Variations</h2>
			<p>Watch your following grow. Mountain shows you how Tumblr traffic, likes and reblogs change over time.</p>
		</div>
		<div class="span4">
			<%= image_tag 'dig.svg', :width => 200 %>
			<h2>Dig Deep</h2>
			<p>Mountain drills down and shows you how individual Tumblr posts are preforming.</p>
		</div>
		<div class="span4">
			<%= image_tag 'cross.svg', :width => 200 %>
			<h2>Cross Metrics</h2>
			<p>Get accutate information across the board. Mountain gives you information from multiple sources.</p>
		</div>
	</div>
</div>
<!-- End Features -->


</div>