<div id="cloud-scroll">
    <div id="cloud-scroll-1"></div>
</div>​

<div class="hero-unit container-fluid">

	<div class="landing-form">
		<img alt="Dashboardly_logo" src="/assets/dashboardly_logo.svg" width="200">
		<h1>Tumblr Metrics</h1>
		<p>Whether your managing a major brand, composing beautiful long-form, or sharing cat pictures, Mountain shows how people interact with your Tumblr Pages.</p>
		<p>Enter your email for an invitation.</p>

<!-- Form field -->
<!-- Nick, feel free to overwrite this html - I'll just edit the form tags once you add them. -->
		<div class="row">
		    <form class="form">
		        <div id="signup" class="input-append">
		            <input type="text" class="span2 signup-field" placeholder="Email Address">
		            <button type="submit" class="btn btn-danger btn-flat">Sign Up</button>
		        </div>
		    </form>
		</div>
<!-- End form field -->

<!-- Landing page footer -->
		<div class='row'>
			<p><small><a href='https://twitter.com/MountainMetrics'>Twitter</a> | <a href='http://mountainmetrics.tumblr.com/'>Blog</a> | <a href='http://mountainmetrics.com/demo'>Sneak Peak</a></small></p>
		</div>
<!-- End landing page footer -->

	</div>
</div>