<div class="row-fluid">	
	<div class="span4 offset4">
		<div class="form-template ">
			<h2>Login</h2>
			<hr>
			<a href="/auth/google_oauth2" class="btn btn-flat btn-success btn-login">Login with Google Analytics</a>
		</div>
	</div>
</div>

<%= link_to "https://www.google.com/", :class => "btn btn-flat btn-success btn-login" %>
