<div class="row-fluid form-override">	
	<h1>test</h2>

<%= @posts %>


<!--   def self.create_all_from_tumblr(token, secret, blog_url)
    initialize_tumblr(token, secret)
    posts = @tumblr.all_posts(blog_url)
    unless posts.empty?
      posts["posts"].each do |tumblr_post|
        find_or_create_from_tumblr(tumblr_post)
      end
    end
  end -->