<!-- Start Footer -->
<div class="mtn">
	<div class="blue-bg">
		<div class="row-fluid">
			<footer>
				<p>Built with love by <a href="https://twitter.com/starterleague">@StarterLeague</a> students in Chicago.</p>
				<p>Get in touch <a href="https://twitter.com/MountainMetrics">@MountainMetrics</a></p>
        <p><a href="mailto:hello@mountainmetrics.com" target="_top">hello@mountainmetrics.com</a></p>
			</footer>
		</div>
	</div>
</div>
<!-- End Footer -->