<div class="span6">

	<table summary="Navigation Summary" class="table table-striped">  
	  <h2>Navigation Summary</h2>  
	  <tr>  
	    <th>Page Title</th>  
	    <th>Pageviews</th>    
	  </tr>

	  <tr>
	  	<td>Exits</td>
	  	<td><%= percentage_from_total( @dashboard.results(:exits, @page_path).exits, @dashboard.results(:pageviews, @page_path).pageviews) %>%</td>
	  </tr>
	<% @dashboard.results(:next_page_path, @page_path).each do |page| %> 
	  <tr>  
	    <td><%= page.page_title %> - <small><%= page.page_path %></small></td>  
	    <td><%= percentage_from_total(page.pageviews, @dashboard.results(:pageviews, @page_path).pageviews) %>%</td>   
	  </tr>
	<% end %>  
	</table>
</div>
