<h2>Snapshot <small>Data for the last 30 days.</small></h2>
<div class="bignums">
	<ul>
		<div class="span3">
			<%= render 'snapshot_pageviews' %>
		</div>

		<div class="span3">
			<%= render 'snapshot_visitors' %>
		</div>

		<div class="span3">
			<%= render 'snapshot_avg_time_on_site' %>
		</div>

		<div class="span3">
			<%= render 'snapshot_mobile_ratio' %>
		</div>
	</ul>
</div>
