<li>
  <%= format_time(@dashboard.results(:snapshot, @page_path).try(:avg_time_on_site))  %>
  <%= image_tag arrow(@dashboard.variation(:snapshot, :avg_time_on_site, @page_path)), 'data-original-title' => format_var(@dashboard.variation(:snapshot, :avg_time_on_site, @page_path)), :class => "arrows" %>
  <p>Avg Time on Page<p> 
</li>