<li>  
  <%= @dashboard.results(:snapshot, @page_path).try(:visitors) %> 
  <%= image_tag arrow(@dashboard.variation(:snapshot, :visitors, @page_path)), 'data-original-title' => format_var(@dashboard.variation(:snapshot, :visitors, @page_path)), :class => "arrows" %>
  <p>Visitors</p>
</li>