<div class="span6">
	<table summary="Top Keywords" class="table table-striped">  
	  <h2>Top Keywords</h2>  
	  <tr>  
	    <th>Keywords</th>  
	    <th>Visits</th>    
	  </tr> 
	<% @dashboard.metric(:keywords, page_path: @page_path).each do |keyword| %> 
	  <tr>  
	    <td><%= keyword.keyword %></td>  
	    <td><%= keyword.visits %></td>   
	  </tr>
	<% end %>  
	</table>
</div>

