<div class="span6">
	
	<h2>About Your Visitors</h2>  

	<ul>
		<li>They stay for <strong>5 minutes</strong> on average.</li>
		<li>Most of them are from <strong>Montreal, Canada</strong>.</li>
		<li>About <strong>22%</strong>  are accessing your site from a mobile device.</li>
		<li>They typically view <strong>4 pages</strong> per visit.</li>
	</ul>

</div>