<h2>Snapshot</h2>

	<div class="bignums">
	<ul>
		 <div class="span3">
			<li>
					
					<%= @snap.visits %>
				<p>Visits</p>
			</li>
		</div>

		<div class="span3">
			<li>
		    <%= @snap.pageviews %>
				<p>Views<p>
			</li>
		</div>

		<div class="span3">
			<li>
				<%= @snap.visit_bounce_rate.to_f.round(2) %>%
				<p>Bounce Rate<p>
			</li>
		</div>

		<div class="span3">
			<li>
				<%= @snap.visitors %>
				<p>Visitors<p>
			</li>
		</div>

	</ul>
</div>