<h2>Today's Numbers</h2>

	<div class="bignums">
	<ul>
		 <div class="span3">
			<li>
					328
				<p>Visitors</p>
			</li>
		</div>

		<div class="span3">
			<li>Views</li>
		</div>

		<div class="span3">
			<li>Duration</li>
		</div>

		<div class="span3">
			<li>Bounce Rate</li>
		</div>

	</ul>
</div>