<h2>Snapshot</h2>

	<div class="bignums">
	<ul>
		 <div class="span3">
			<li>
					<%= @snap_visits.results.first.visits %>
				<p>Visits</p>
			</li>
		</div>

		<div class="span3">
			<li>
				<%= @snap_pageviews.results %>
				<p>Views<p>
			</li>
		</div>

		<div class="span3">
			<li>
				2:35
				<p>Duration<p>
			</li>
		</div>

		<div class="span3">
			<li>
				68%
				<p>Bounce Rate<p>
			</li>
		</div>

	</ul>
</div>