<h2>Snapshot</h2>

	<div class="bignums">
	<ul>
		 <div class="span3">
			<li>
					
					<%= @snap_visits.visits %>
				<p>Visits</p>
			</li>
		</div>

		<div class="span3">
			<li>
		    <%= @snap_pageviews.pageviews %>
				<p>Views<p>
			</li>
		</div>

		<div class="span3">
			<li>
				<%= @snap_exits.exits %>
				<p>Exits<p>
			</li>
		</div>

		<div class="span3">
			<li>
				2559
				<p>Visitors<p>
			</li>
		</div>

	</ul>
</div>