<h2>Visits</h2>
<script type="text/javascript">
$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'line',
                marginRight: 130,
                marginBottom: 25
            },
            plotOptions: {
                series: {
                    lineWidth: 10
                }
            },
            title: {
                text: 'Visits over Time',
                x: -20 //center
            },
            xAxis: {
                categories: <%= @date_charts.to_json %>
            },
            yAxis: {
                title: {
                    text: 'Pageviews'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                borderWidth: 0
            },
            series: [{
                name: 'Pageviews',
                color: '#aaeb90',
                data: <%= @visits_chart.to_json %>
            }],
            credits:{enabled:false}
        });
    });
    
});
</script>