<h2>Visits</h2>

<script type="text/javascript">
$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'area',
                marginRight: 130,
                marginBottom: 25
            },
            plotOptions: {
                series: {
                    pointStart: 0,
                    lineWidth: 1,
                    pointStart: Date.UTC(2010, 0, 1), // sets formatting for date and time
                    pointInterval: 24 * 3600 * 1000 // one day
                }
            },
            title: {
                text: 'Visits over Time',
                x: 0 //center
            },
            xAxis: {
                categories: <%= @date_charts.to_json %>,
                type: 'datetime' // sets x-axis to date format
            },
            yAxis: {
                title: {
                    text: 'Pageviews'
                },
                plotLines: [{
                    value: 0,
                    width: 1
                    
                }]
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                borderWidth: 0
            },
            series: [{
                name: 'Visits',
                color: '#8ebfe7',
                data: <%= @visits_chart.to_json %>
            }],
            credits:{enabled:false}
        });
    });
    
});
</script>