<h1 class="pull-left"><%= @dashboard.name %> <small><%= @dashboard.profile.title %></small></h1>

<div class="pull-right btn-group">

	<%= link_to "Edit", edit_dashboard_url, :class => "btn btn-large btn-flat drop"%>
 	
 	<div class="btn btn-large dropdown-toggle btn-flat" data-toggle="dropdown" data-toggle="dropdown" href="#">
    Change Website
    <span class="caret"></span>
 	</div>
	  <ul class="dropdown-menu btn-flat">
	    <!-- dropdown menu links -->
      <% @dashboards.each do |dashboard| %>
	    <li><%= link_to dashboard.name, dashboard_url(dashboard) %></li>
      <% end %>
	  </ul>
</div>
