<h2>Visits</h2>

<script type="text/javascript">
$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                // height: 300,    
                // See dashboard show view to edit height.
                type: 'area',
                marginRight: 130,
                marginBottom: 25
            },
            plotOptions: {
                series: {
                    pointStart: 0,
                    lineWidth: 0,
                    pointStart: Date.UTC(<%= render_point_start(@dashboard.visits) %>), // sets formatting for date and time
                    pointInterval: 24 * 3600 * 1000 // one day
                }
            },
            title: {
                text: '',
                x: 0 //center
            },
            xAxis: {
                type: 'datetime' // sets x-axis to date format
            },
            yAxis: {
                title: {
                    text: 'Pageviews'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                borderWidth: 0
            },
            series: [{
                showInLegend: false, 
                name: 'Visits',
                color: '#8ebfe7',
                data: <%= render_js_array(@dashboard.visits, :visits) %>
            }],
            credits:{enabled:false}
        });
    });
    
});
</script>