<%= today = Date.today.month %>
<select>
  <option value="default">Last 30 days</option>
  <option value="<%= today.prev_month.month %>">November</option>
  <option value="mercedes">October</option>
  <option value="audi">September</option>
  <option value="audi">August</option>
  <option value="audi">July</option>
</select>

