<div class="span6">

	<table class="table table-striped">  
	  <h2>Search Terms</h2>  
	  <tr>  
	    <th>Terms</th>  
	    <th>Views</th>    
	  </tr> 

	  <tr>  
	    <td>Sam Solomon</td>  
	    <td>18</td>   
	  </tr>

	  <tr>  
	    <td>dashboadly</td>  
	    <td>5</td>   
	  </tr>

	</table>

</div>