<h2>Snapshot</h2>
	<div class="bignums">
	<ul>
		 <div class="span3">
			<li>	
					<%= @dashboard.snapshot.visits %>
				<p>Visits</p>
			</li>
		</div>

		<div class="span3">
			<li>
		    <%= @dashboard.snapshot.pageviews %>
				<p>Views<p>
			</li>
		</div>

		<div class="span3">
			<li>
				<%= @dashboard.snapshot.visit_bounce_rate.to_f.round(2) %>%
				<p>Bounce Rate<p>
			</li>
		</div>

		<div class="span3">
			<li>
				<%= @dashboard.snapshot.visitors %>
				<p>Visitors<p>
			</li>
		</div>
	</ul>
</div>