<div class="span6">

	<table summary="Your Websites Top Content" class="table table-striped">
	<h2>Popular Content</h2>
		<tr>
			<th>Title</th>
			<th>Views</th>
		</tr>
		<% @dashboard.pages.each do |page| %>

			<tr>
				<!-- Will not work for https:// look at google api for possible solution -->
				<td><%= link_to truncate(page.page_title, :length => 70 ), dashboard_page_url(@dashboard.id, encode_url_for_params(page.page_path)) %>
				</td>
				<td><%= page.pageviews %></td>
			</tr>
		<% end %>
	</table>

</div>



