<div class="span6">

	<table summary="Your Websites Top Content" class="table">
	<h2>Top Content</h2>
		<tr>
			<th>Views</th>
			<th>Title</th>
		<tr>

		<% @pages.each do |page| %>

			<tr>
				<td><%= page.pageviews %></td>
				<% hostname = page.hostname %>
				<% pagepath = page.page_path %>
				<!-- Will not work for https:// look at google api for possible solution -->
				<td><%= link_to truncate(page.page_title, :length => 70 ), "http://#{hostname}" + "#{pagepath}", :target => :_blank %></td>

			</tr>
		<% end %>
	</table>

</div>

