<div class="span5">

	<table summary="Traffic Sources for Your Website" class="table table-striped">  
	  <h2>Top Traffic Sources</h2>  
	  <tr>  
	    <th>Source</th>  
	    <th>Number of Visitors</th>    
	  </tr> 
	<% @sources.each do |source| %> 
	  <tr>  
	    <td><%= source.source %></td>  
	    <td><%= source.visits %></td>   
	  </tr>
	<% end %>  
	</table>

</div>