<div class="row-fluid">
  <div class="span6 offset3">

		<h1>Editing dashboard</h1>

		<%= render 'form' %>

		<%= link_to 'Show', @dashboard %> |
		<%= link_to 'Back', dashboards_path %>
	</div>
</div>