<div class="row-fluid">
	<div class="form-template offset4">

		<h2>Editing dashboard</h2>
		<hr>
		<%= render 'form' %>

		<%= link_to 'Show', @dashboard %> |
		<%= link_to 'Back', dashboards_path %>
	</div>
</div>