
<div class="span4 offset4">
  <h1>Dashboards</h1>

  <table class="table">
    <tr>
      <th>Name</th>
    </tr>

  <% @dashboards.each do |dashboard| %>
    <tr>
      <td><%= link_to dashboard.name, dashboard %></td>
    </tr>
  <% end %>
  </table>

  <%= button_to "New dashboard", new_dashboard_path, method: :get  %>

  <br />
</div>
