
<div class="row-fluid form-override center"> 
  <div class="span12">
  <h2>Dashboards</h2>
	<hr>
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Edit</th>
    </tr>

  <% @dashboards.each do |dashboard| %>
    <tr>
      <td><%= link_to dashboard.name, dashboard %></td>
	  <td><%= link_to "Edit", edit_dashboard_url(dashboard) %></td>

	  <% end %>

    </tr>
  </table>

  <%= button_to "New Dashboard", new_dashboard_path, method: :get, :class => "btn btn-large btn-flat" %>
</div>
</div>