
<div class="span4 offset4">
  <h1>Dashboards</h1>

  <table class="table">
    <tr>
      <th>Name</th>
      <th>Visits</th> 
      <th>Variation</th>
      <th></th>
    </tr>

  <% @dashboards.each do |dashboard| %>
    <tr>
      <td><%= link_to dashboard.name, dashboard %></td>
      <td><%= @ga.profile(dashboard.web_property_id).visitstotal.first.visits %></td>
      <td>+25%</td>
      <td><%= link_to "Edit", edit_dashboard_url(dashboard) %></td>
    </tr>
  <% end %>
  </table>

  <%= button_to "New dashboard", new_dashboard_path, method: :get  %>

  <br />
</div>
