
<div class="span4 offset4">
  <h1>Dashboards</h1>

  <table>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @dashboards.each do |dashboard| %>
    <tr>
      <td><%= link_to dashboard.name, dashboard %></td>
    </tr>
  <% end %>
  </table>

  <br />

</div>
