<div class="row-fluid form-override">	
		
		<h2>Select Tumblr Blog</h2>
		<hr>	
		<%= render 'form' %>	
    <%= link_to "Refresh your Tumblr Accounts", refresh_blogs_path, :class => "btn btn-primary btn-flat" %>
</div>
