body {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  color: #333333;
  background-color: #ffffff;
}

.center { 
  float: none; 
  margin-left: auto; 
  margin-right: auto; 
}

.container-fluid {
  max-width: 960px;
  margin: 0 auto;
}

.table td, .table th {
    border: none;
}

.btn-flat {
  filter:progid:DXImageTransform.Microsoft.Gradient(enabled='false');
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-image:none;
  text-shadow:none;
  border:0;
  vertical-align: center;
}

/* Footer
-------------------------------------------------- */
footer {
  bottom: 0px;
  padding-top: 50px;
}

footer a{
  color: #fff;
}

footer a:hover{
  color: #fff;
}

body .mtn{
position: absolute;
margin: 0 auto;
right: 0;
left: 0;
height: 100px;
text-align: center;
background-image: url("mtns.svg") no-repeat center bottom;
vertical-align: baseline;
z-index: -100;
}

footer .blue-bg {
  background-color: #8ebfe7;
}

/* Navigation
-------------------------------------------------- */
.navbar {
  width: 100%;
}

.navbar-inner .brand {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  display: block;
  float: left;
  padding: 20px 20px 20px;
  margin-left: -20px;
  font-size: 24px;
  color: #fff;
  text-shadow: none;
}

.navbar-inner .brand small {
  font-size: 16px;
  color: #afafaf;
}

.navbar-inner {
  min-height: 60px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #3d3d3d; /* background color will be black for all browsers */
  background-image: none;
  background-repeat: no-repeat;
  width: 100%;
}

.btn-nav {
  text-align: center;
  vertical-align: center;
  font-size: 14px;
  text-shadow:none;
  margin-top: 60px; 
  margin-right: 5px;
  padding: 5px;
  background-color: #3d3d3d;
    -webkit-transition-property:background-color;
    -moz-transition-property:background-color;
    -o-transition-property:background-color;
    transition-property:background-color;
    -webkit-transition-duration:0.5s;
    -moz-transition-duration:0.5s;
    -o-transition-duration:0.5s;
    transition-duration:0.5s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
}

.btn-nav:hover {
  background-color: #606060;
    -webkit-transition-property:background-color;
    -moz-transition-property:background-color;
    -o-transition-property:background-color;
    transition-property:background-color;
    -webkit-transition-duration:0.5s;
    -moz-transition-duration:0.5s;
    -o-transition-duration:0.5s;
    transition-duration:0.5s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
}


.signin {
   color: #fff;
   font-size: 14px;
   text-shadow:none;
   margin-top: 60px; 
   margin-right: 30px;
   padding: 5px;
    -webkit-transition-property:background-color;
    -moz-transition-property:background-color;
    -o-transition-property:background-color;
    transition-property:background-color;
    -webkit-transition-duration:0.5s;
    -moz-transition-duration:0.5s;
    -o-transition-duration:0.5s;
    transition-duration:0.5s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
}

.signin:hover {
  -webkit-transition-property:background-color;
  -moz-transition-property:background-color;
  -o-transition-property:background-color;
  transition-property:background-color;
  -webkit-transition-duration:0.5s;
  -moz-transition-duration:0.5s;
  -o-transition-duration:0.5s;
  transition-duration:0.5s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;  
}

/* Snapshot Partial
-------------------------------------------------- */
.bignums .span3{
  text-align: center;
}

.bignums {
  font-size: 3.750em;
  font-weight: 700;
  /*padding: 30px;*/
}

.bignums p {
  font-size: 20px;
  font-weight: 400;
  margin: 0 10 10 0;
  list-style-type: none;
  color: #707070;
  padding-right: 50px;
  padding-top:10px;
}

.bignums ul {
  list-style-type: none;
  list-style: none;
}

.arrows{
  padding:0 10 0 10;
}


/* Form Fields
-------------------------------------------------- */
.form-template {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background-color:#E3E3E3;
  margin-top: 80px;
  padding: 40px 90px 40px 90px;
  text-align: center;
  width: 250px;
}


.form-override {
  margin: 0 auto;
  text-align: center;
}

.form-override .btn{
  padding: 15px 85px 15px 85px;
}


/* Home Page
-------------------------------------------------- */

.hero-unit {
  padding: 20px;
  margin-bottom: 30px;
  background-color: #fff;
  text-align: center;
}

.marketing .span4 {
  text-align: center;
}

.marketing .span4 p {
  margin-left: 10px;
  margin-right: 10px;
}

/* About Page
-------------------------------------------------- */
.about .span4 {
  text-align: center;
  margin: 0;
}

.about img {
  width: 150px;
  margin: 0 auto;
  text-align: center;
}

.about h1 {
  margin-bottom: 0;
  font-size: 3.50em;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
  text-align: center;
}

.about h2 {
  line-height: 18px;
}

.about h2 small{
  margin: 5px;
}

/* Media Queries
-------------------------------------------------- */
@media (max-width: 480px) {
  .navbar {
    width: 110%;
  }

  .brand-mq {
    text-align: center;
  }
}

@media (min-width: 481px) and (max-width: 782px){
  .navbar {
    width: 106%;
  }

  .brand-mq {
    float: left;
  }

}
