<div class="row-fluid form-override">
		<h1>Connect Your Accounts</h1>
		<hr>

			<p>Mountain pulls data from your Tumblr, and Google Analytics account. Click the buttons below to link your account and get started.</p>

			<ul>
			  <% unless current_user.authorizations.find_by_provider("google") %>
			    <li>
			    	<a href="/auth/google" class="btn btn-large btn-flat">Link Google Analytics</a>
			    </li>
			  <% else %>
			    <li>
			    	<a href="/auth/google" class="btn btn-large btn-success btn-flat">Google Analytics Linked</a>
			    </li>

			  <% end %>
			</ul>

</div>

