<div class="row-fluid form-override">
		<h1>Connect Your Accounts</h1>
		<hr>

			<p>Mountain pulls data from your Tumblr, and Google Analytics account. Link your accounts to get started.</p>

			<ul>
			  <% unless google_auth %>
			    <li>
			    	<%= link_to "Link Google Analytics", google_auth_url, class: "span2 btn btn-large btn-flat"  %>
			    </li>
			  <% else %>
			    <li>
			    	<%= link_to "Google Analytics Linked", google_auth, class: "btn btn-large btn-success btn-flat", method: :delete %>
			    </li>
			  <% end %>
			  <% unless tumblr_auth %>
			    <li>
			    	<%= link_to "Link Tumblr", tumblr_auth_url, class: "span2 btn btn-large btn-flat"  %>
			    </li>
			  <% else %>
			    <li>
			    	<%= link_to "Tumblr Linked", tumblr_auth, class: "btn btn-large btn-success btn-flat", method: :delete %>
			    </li>
			  <% end %>
			</ul>

</div>

