<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
      <div class="span6 offset3">
      <a class="brand" href="/gifs">Dashboardly</a>
<!--         <ul class="nav ">
          <li><a href="#"></a></li>
        </ul> -->
      </ul>
  		</div>
  </div>
</div>